@import 'app/style/variables.less';

.main-header {
    @media only screen and (min-width: @mobileBreakpoint) {
        font-size: 1.5em;
    }

    &__titles {
        display: inline-block;

        @media only screen and (min-width: @mobileBreakpoint) {
            margin-right: 2em;
        }
    }

    .hamburger-wrapper {
        float: right;
        margin-top: .9em;

        &__hamburger {
            display: inline-block;
            background: none;
            padding: 0;
            margin: 0;
            width: 2em;
            height: 2em;
            background: linear-gradient(
                to bottom,
                black, black 15%,
                white 15%, white 40%,
                black 45%, black 60%,
                white 60%, white 85%,
                black 85%, black 100%
            );
        }

        @media only screen and (min-width: @mobileBreakpoint) {
            display: none;
        }
    }


    .main-nav {
        display: block;

        @media only screen and (min-width: @mobileBreakpoint) {
            display: inline-block;
            margin-top: 1em;
        }

        &__list {
            display: none;
            padding: 0;

            @media only screen and (min-width: @mobileBreakpoint) {
                display: inline-block;
                margin: 0;
            }

            &--visible {
                display: block;
            }

        }
   
    }

    .nav-list-item {
        list-style: none;
        margin: 0;
        padding: .2em 0;

        &__link {
            text-decoration: none;
            color: inherit;
            font-family: "Playfair Display", "Times New Roman", serif;

            &:hover {
                color: #888;
            }
        }

        @media only screen and (min-width: @mobileBreakpoint) {
            display: inline-block;
            margin-left: 1em;

            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}