// Shared

html {
    background-color: darkslategray;
    font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: @headerFonts;
    margin: 0;
}

h4 {
    color: #888;
    font-weight: lighter;
    line-height: 1em;
}

.container {
    width: 90%;
    max-width: 60rem;
    height: auto;
    padding: 0;
    margin: 1rem auto auto auto;
    font-family: @regularFonts;

    &.padded {
        width: 80%;
        padding: .5rem 2rem;
    }

    &.background {
        background-color: #FFF;
    }
}

.wip-box {
    width: 80%;
    height: auto;
    background-color: #FFF;
    padding: 5%;
    margin: 3em 5% auto 5%;
    font-family: "Lato", "Arial", "Helvetica", sans-serif;

    h1, h2, h3, h4, h5, h6 {
        font-family: "Playfair Display", "Times New Roman", serif;
    }

    h1 {
        margin: 0;
        font-size: 1.8em;
        line-height: 1.8em;
        margin-bottom: 1em;
    }

    h1:last-of-type {
        margin-bottom: 2em;
    }

    h3 {
        margin: 0;
        font-weight: lighter;
        font-size: 1em;
        color: #777;
    }

    p {
        font-size: 1.2em;
    }

    @media only screen and (min-width: 50em) {
        width: 40em;
        padding: 2em;
        margin: 3em auto auto auto;

        h1 {
            font-size: 2.4em;
            line-height: 2.4em;
            margin-bottom: 1.5em;
        }

        h1:last-of-type {
            margin-bottom: 3em;
        }

        h3 {
            font-size: 1.5em;
        }
    }
}